.card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 100%;
    padding: 12px;
    border-radius: 1.2rem;
    margin-top: 14px;
    margin-bottom: 14px;
    border: solid 2px;

    background-color: var(--color-card-bg);
    border-color: var(--color-border);
}

.name {
    color: var(--color-primary);
}


.operational {
    background-color: var(--color-operational);
    border-radius: 1.2rem;
    padding: 0.25rem;
    width: 11%;
    text-align: center;
}

.degraded {
    background-color: var(--color-degraded);
    border-radius: 1.2rem;
    padding: 0.25rem;
    width: 11%;
    text-align: center;
}

.outage {
    background-color: var(--color-outage);
    border-radius: 1.2rem;
    padding: 0.25rem;
    width: 11%;
    text-align: center;
}

.status {
    color: white;
}